{% extends 'index.html' %}
{% load static %}

{% block title1 %}

<title>About Us</title>

{% endblock title1 %}

{% block content1 %}

<div class="">
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <img class="img-responsive" src="{% static 'assets/img-05.jpg' %}">
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h1>HI EVERYONE</h1>
                </div>
                <p class="section-container-spacer">I am Mohamed Ameer Noufil N,
                I am a fresher and a lazy man, I like to play games and love to automate them
                This is my first automation project and the first website I made.
                <p>Caught me on <a href="https://www.linkedin.com/in/mohamed-ameer-noufil-n-b262aa218/">Linkedin </a></p>
                </p>

                <div class="row section-container-spacer">
                    <div class="col-md-6">
                        <img class="img-responsive" src="{% static 'assets/img-06.jpg' %}">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="{% static 'assets/img-07.jpg' %}">
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <small class="signature pull-right">MAN</small>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content1 %}