{% extends 'index.html' %}
{% load static %}
{% block title1 %}

<title>Disclaimer</title>

{% endblock title1 %}

{% block content1 %}

<div class='big-para'>

    <h3><strong>Disclaimer</strong></h3>
    <p>Welcome to Danker Man!</p>
    <p>Selfbotting is against the rule of DISCORD and the BOT_GAMES. Using DANKER MAN will be result in BANNING you
        account, So DO IT AT YOUR OWN RISk.</p>
    <p>In case of your account suspension or ban, we won't responsible for anything</p>
    <p>Authentication key is a key which is a combination of your email-id and password that you use for creating your
        discord account.</p>
    <p>With the help of authentication key we access your account to send bot commants, which means with your
        authentication key we can access your discord account</p>

</div>

{% endblock content1 %}