{% extends 'index.html' %} {% load static %} {% block title1 %}

<title>Danker Bots</title>

{% endblock title1 %} {% block content1 %}

<div class="bot_boxes">
   <div class="boxed">
      <img src="{% static 'assets/Dankmemer_logo.webp' %}" width="275" height="250" />
      <p id="timer" class="s_p">Dank Memer</p>
      <button id="Dank_Memer" onclick="timer(this.id)" class="s_img">
         Start
      </button>
   </div>

   <div class="boxed">
      <img src="{% static 'assets/Toco_logo.webp' %}" width="275" height="250" />
      <p id="timer1" class="s_p">Taco</p>
      <button id="Taco" onclick="timer(this.id)" class="s_img">START!</button>
   </div>
</div>

{% endblock content1 %}