{% extends 'index.html' %} {% load static %} {% block title1 %}

<title>Danker Bots</title>

{% endblock title1 %} {% block content1 %}

<div class="bot_boxes">
   <div class="boxed">
      <img src="{% static 'assets/Dankmemer_logo.webp' %}" width="275" height="250" />
      <p id="timer" class="s_p">Dank Memer</p>
      <button id="Dank_Memer" onclick="timer(this.id)" class="s_img">
         START!
      </button>
   </div>

   <div class="boxed">
      <img src="{% static 'assets/Toco_logo.webp' %}" width="275" height="250" />
      <p id="timer1" class="s_p">Taco</p>
      <button id="Taco" onclick="timer(this.id)" class="s_img">START!</button>
   </div>

   <div class="boxed">
      <img src="{% static 'assets/VirFish_logo.webp' %}" width="275" height="250" />
      <p id="timer2" class="s_p">Virtual Fisher</p>
      <button id="VirFish" onclick="timer(this.id)" class="s_img">START!</button>
   </div>
</div>

<div class="bot_boxes">

   <div class="boxed">
      <img src="{% static 'assets/Bcoins_logo.webp' %}" width="275" height="250" />
      <p id="timer3" class="s_p">Bcoins</p>
      <button id="Bcoins" onclick="timer(this.id)" class="s_img">START!</button>
   </div>

</div>

<p>Use our <a href="https://discord.gg/5MTG9M6M8R">Discord </a></p>

{% endblock content1 %}